[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
# python_version = ">= 3.6.0"

[packages]
frontdoor = "*"
pandoc = { version = "==1.0.2" }
Sphinx = "*"
typing = "*"
